.navbar-light {
    background-color: aqua;
}

/* Bordered form */
form {
    border: 2px solid #f1f1f1;
    font-family: sans-serif;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: sans-serif;
}

.entrar_botao {
    display: block;
    background: #3D94F6;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    margin: 10px 0px -10px 0px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
    
.entrar_botao:hover {
    background: #1E62D0;
    border-radius: 5px;
    text-decoration: none;
}

.efetuar_cadastro {
    display: block;
    background: gray;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
    
.efetuar_cadstro:hover {
    background: dark gray;
    border-radius: 5px;
    text-decoration: none;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
}

/* Add padding to containers */
.container {
    padding: 5px 400px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    span.psw {
        display: block;
        float: none;
    }
}
 

