{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="container">
            <div class="card shadow">
                <div class="card-header d-flex">
                    <h6 class="text-primary font-weight-bold m-0">Histórico das operações</h6>
                </div>
                <div class="card-body">
                    <div class="container">
                        <p>Verifique abaixo qual usuário efetuou qual operação e o qual horário.</p>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Nome do usuário</th>
                                            <th>Expressão</th>
                                            <th>Horário</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for calculo in calculos %}
                                        <tr>
                                            <td>{{calculo.user_name}}</td>
                                            <td>{{calculo.expressao}}</td>
                                            <td>{{calculo.created}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
