<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Calculadora Bruna Totti</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="page-top">

    <!-- NAV BAR -->
    <div class="d-flex flex-column" id="content-wrapper">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-primary clean-navbar">
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-xl-6">
                            <a class="navbar-brand logo" href="{{ url_for('index') }}">
                                <img src="../static/img/logo_calculadora_branco_horizontal.png" alt="Avatar" class="avatar">
                            </a>
                        </div>
                        <div class="col-lg-3 col-xl-1"></div>
                        <div class="col-lg-4 col-xl-5">
                            <div class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item" role="presentation"><a class="btn nav-link active" href="{{ url_for('index') }}">Início</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('historico') }}">Histórico</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('login') }}">Sair</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </nav>
        </nav>
    </div>

    <!-- CONTEÚDO -->
    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div class="container">
                <div class="card shadow mb-8">
                    <div class="card-header d-flex">
                        <h6 class="text-primary font-weight-bold m-0">Calcular</h6>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <p>Para efetuar a o cálculo da operação desejada, basta seguir os seguintes passos:</p>
                            <ul>
                                <li>Inclua o valor 𝑎 no campo do <b>Operando 1</b>;</li>
                                <li>Selecione a operação desejada;</li>
                                <li>Inclua o valor b no campo <b>Operando 2</b>;</li>
                                <li>Clique no botão azul calcular;</li>
                                <li>O resultado é apresentado.</li>
                            </ul>

                            <form class="form-inline">
                                <div class="form-group" style="padding-right: 10px;">
                                    <label class="sr-only" for="operando1">Operando 1</label>
                                    <input type="number" class="form-control" id="operando1" placeholder="Operando 1">
                                </div>

                                <div class="col-xs-4" style="padding: 40px 10px">
                                    <select class="form-control">
                                        <option>Soma (+)</option>
                                        <option>Subtração (-)</option>
                                        <option>Multiplicação (*)</option>
                                        <option>Divisão (/)</option>
                                        <option>Potenciação (𝑎&#x00B3)</option>
                                        <option>Radiciação (&#x00B3&#x221A𝑎)</option>
                                    </select>
                                </div>

                                <div class="form-group" style="padding-right: 10px;">
                                    <label class="sr-only" for="operando 2">Operando 2</label>
                                    <input type="number" class="form-control" id="operando2" placeholder="Operando 2">
                                </div>

                                <a type="submit" class="btn btn-primary" href="{{ url_for('index') }}">Calcular</a>
                            </form>

                            <div class="col-xs-12" style="text-align-last: center; padding-top: 10px">
                                <div class="card shadow border-left-primary py-2 bg-primary">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <div class="text-uppercase text-light font-weight-bold text-xs mb-1"><span>Resultado</span></div>
                                                <div class="text-light font-weight-bold h5 mb-0"><span>100</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <!-- RODAPÉ -->
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
            </div>
        </footer>
    </div>

    <!-- VOLTAR PARA TOPO -->
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/script.min.js"></script>

</body>

</html>
